body {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(270deg, rgba(157, 168, 168, 0.2), rgba(64, 48, 38, .4)), url("../assets/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  width: 100vw;
  height: 100vh;
}

.header {
  /*font-family: 'Righteous', cursive;*/
  /*font-family: 'Fredoka One', cursive;*/
 /*font-family: 'Baloo Thambi', cursive;*/
    font-family: 'Kavoon', cursive;
}
.message {
  font-size: 22px;
  font-family: 'Source Serif Pro', serif;
}

.title {
    font-size: 24px;
    color: #fff;
    padding: 4px;
    background: #696;
}

.container {
    width: 1600px;
}

.btn {
  float: right;
}

.loginDiv {
  border: medium solid black;
}

.profilePic {
  height: 20%;
  width: 20%;
}

.locationDiv {
  border: medium solid black;
}

.locationImg {
  height: 20%;
  width: 20%;
}
.selectedLocation {
  border: medium solid black;
}
